body {
  background-color:#F4F6F6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 70px;
  margin-top: 25px;
  margin-left: 95px;
}
#container {
  width: 100%;
  overflow: hidden;
}
#left-container {
  height: 937px;
  width: 275px;
  background-color: #2C3E50;
  float: left;
  margin: 0;
}
#right-container {
  margin-left: 275px;
  overflow: scroll;
}
#top-half {
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
  height: 450px;
}
#mapbox {
  width: 1155px;
  height: 450px;
  float: left;
  overflow: scroll;
}
#config-box {
  width: 270px;
  height: 300px;
  overflow: scroll;
}
#bottom-half {
  margin-top: 15px;
  margin-left: 15px;
  width: 100%;
  overflow: scroll;
  height: 400px;
}
#two-plot {
  height: 420px;
  width: 600px;
  float: left;
  overflow: scroll;
}
#three-plot {
  height: 420px;
  width: 525px;
  float: left;
  margin-left: 15px;
  overflow: scroll;
}
#update-button {
  width: 190px;
  height: 40px;
  border-radius: 5px;
  margin-left: 38px;
  margin-top: 20px;
  border: 0px;
  cursor: pointer;
  background-color: #17202A;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 40px;
}
#update-button:hover {
  background-color: #52BE80;
  color: white;
}
#update-cluster {
  width: 190px;
  height: 40px;
  border-radius: 5px;
  margin-left: 38px;
  margin-top: 20px;
  border: 0px;
  cursor: pointer;
  background-color: #17202A;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 40px;
}
#update-cluster:hover {
  background-color: #52BE80;
  color: white;
}
h1 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 32px;
  color: white;
  text-align: center;
}
p {
  margin-left: 20px;
  font-size: 14px;
  color: white;
}
.dropdown-labels {
  margin-left: 25px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.other-labels {
  margin-left: 25px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
.dropdown {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dropdown .Select-control{
  background-color: white;
}
.dropdown .Select-menu-outer{
  background-color: white;
}
.dropdown .Select-value{
  background-color: #FDFEFE;
  color: white;
  font-size: 14px;
}
.dropdown .VirtualizedSelectFocusedOption {
  background-color: #FDFEFE;
  color: black;
}
.dropdown .VirtualizedSelectOption  {
  font-size: 14px;
}
.toggle {
  margin-top: 8px;
}
#n-slider {
  margin-top: 8px;
  margin-bottom: 10px;
}
#n-slider .rc-slider-handle  {
  background-color: #52BE80;
  border: 0px;
}
#n-slider .rc-slider-track {
  background-color: #E6E6E6;
}
#n-slider .rc-slider-dot-active {
  border-color: #E6E6E6;
}
#price-range {
  margin-top: 8px;
  margin-bottom: 10px;
}
#price-range .rc-slider-handle  {
  background-color: #52BE80;
  border: 0px;
}
#price-range .rc-slider-track {
  background-color: #52BE80;
}
#price-range .rc-slider-dot-active {
  border-color: #52BE80;
}
#review-range {
  margin-top: 8px;
  margin-bottom: 10px;
}
#review-range .rc-slider-handle  {
  background-color: #52BE80;
  border: 0px;
}
#review-range .rc-slider-track {
  background-color: #52BE80;
}
#review-range .rc-slider-dot-active {
  border-color: #52BE80;
}