body {
  background-color:#FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
img {
  width: 70px;
  margin-top: 25px;
  margin-left: 95px;
}

#config-box {
  width: 270px;
  height: 300px;
  overflow: scroll;
}

#two-plot {
  height: 420px;
  width: 600px;
  float: left;
  overflow: scroll;
}
#three-plot {
  height: 420px;
  width: 525px;
  float: left;
  margin-left: 15px;
  overflow: scroll;
}
#update-button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  border: 0px;
  cursor: pointer;
  background-color: #17202A;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;
}
#update-button:hover {
  background-color: #52BE80;
  color: white;
}

#search-button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  margin-left: 30px;
  margin-top: 10px;
  border: 0px;
  cursor: pointer;
  background-color: #17202A;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;
}
#search-button:hover {
  background-color: #52BE80;
  color: white;
}

#results-button {
  width: 320px;
  height: 35px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 0px;
  border: 0px;
  cursor: pointer;
  background-color: #17202A;
  color: white;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 40px;
}
#results-button:hover {
  background-color: #52BE80;
  color: white;
}

h1 {
  padding: 22px;;
  font-size: 20px;
  color: #120910;
  text-align: left;
  font-weight: bold;
}
p {
  margin-left: 20px;
  font-size: 12px;
  color: #120910;
}
.dropdown-labels {
  margin-left: 25px;
  font-size: 14px;
  color: #120910;
  font-weight: bold;
}
.other-labels {
  margin-left: 25px;
  font-size: 14px;
  color: #120910;
  font-weight: bold;
}
.dropdown {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.dropdown .Select-control{
  background-color: white;
}
.dropdown .Select-menu-outer{
  background-color: white;
}
.dropdown .Select-value{
  background-color: #FDFEFE;
  color: white;
  font-size: 10px;
}
.dropdown .VirtualizedSelectFocusedOption {
  background-color: #FDFEFE;
  color: black;
}
.dropdown .VirtualizedSelectOption  {
  font-size: 10px;
}

.Select-menu-outer {
    font-size: 12px;
}

#n-slider {
  margin: 10px;
}
#n-slider .rc-slider-handle  {
  background-color: #52BE80;
  border: 0px;
}
#n-slider .rc-slider-track {
  background-color: #E6E6E6;
}
#n-slider .rc-slider-dot-active {
  border-color: #E6E6E6;
}
#price-range {
  margin-top: 8px;
  margin-bottom: 10px;
}
#price-range .rc-slider-handle  {
  background-color: #52BE80;
  border: 0px;
}
#price-range .rc-slider-track {
  background-color: #52BE80;
}
#price-range .rc-slider-dot-active {
  border-color: #52BE80;
}
#review-range {
  margin-top: 8px;
  margin-bottom: 10px;
}
#review-range .rc-slider-handle  {
  background-color: #52BE80;
  border: 0px;
}
#review-range .rc-slider-track {
  background-color: #52BE80;
}
#review-range .rc-slider-dot-active {
  border-color: #52BE80;
}